@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
    <p>Esta es mi prueba técnica para la vacante Dev Jr en Brive :)</p>
    <p>- Tania Hernandez Uribe</p>
</div>

